._Index {
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  height: 100%;
}

.content {
  margin-left: 220px;
  padding: 20px;
  flex-grow: 1;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}